#wrapper{
	margin: 20px auto 20px auto;
	padding-left: 10px;
}

#first{
	overflow: hidden;
}

#first #red_square{
	background-color: red;
	height: 45%;
	width: 25%;
	float: left;
	margin: 10px;
	 
}

#first #blue_square{
	background-color: blue;
	height: 45%;
	width: 25%;
	float: right;
	margin: 10px;
}

#orange_rec{
	background-color: orange;
	height: 200px;
	width: 90%;
	float: left;
	margin-top: 50px;
	margin-left: 50px;
}